<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsFormsApplication5.Properties.Settings>
            <setting name="L5X_file_dir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="XLSM_cust_file_dir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="XLSM_General_dir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="XLSM_designSheet" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="filtr_PF_Alarm8" serializeAs="String">
                <value>Pf_Alarm8\((?&lt;FBI&gt;.*?),(?&lt;I1&gt;\d+),(?&lt;I2&gt;\d+),(?&lt;I3&gt;\d+),(?&lt;I4&gt;\d+),(?&lt;I5&gt;\d+),(?&lt;I6&gt;\d+),(?&lt;I7&gt;\d+),(?&lt;I8&gt;\d+),(?&lt;zVar&gt;.*?),.*?\)</value>
            </setting>
        </WindowsFormsApplication5.Properties.Settings>
    </userSettings>
</configuration>